#ds-thread #ds-reset{
    .ds-account-control span{
        color:@gray-light;
        &:hover {
            color: @gray-lighter;
        }
    }
	.ds-textarea-wrapper{
	    border: 1px solid @gray;
	    border-bottom: none;
	    background-color:@gray-darker;
	    background-image: none;
    }
	.ds-post-toolbar {
	    box-shadow:none;
	    .ds-post-options {
  	         border: none;
             .ds-sync label {
                  color:@gray-light;
                  &:hover{
                      color:@gray-light;
                  }
             }
	    }
    }
	.ds-comments-info {
	    padding: 8px 0 0 0;
	    //height: 25px;
	    border-bottom: 3px solid #3d3d3d;
	}
	li.ds-tab {
	    margin: 0;
	    background-color: transparent;
	}
	li.ds-tab a {
	    padding: 5px;
		text-shadow:none;
	    border:none;

		&.ds-current {
		    border:none;
		    color:@gray-light;
		    border-bottom: 3px solid #023E73;
		}
		&:hover {
		    color:@gray-lighter;
		    border-bottom: 3px solid @brand-primary;
		}
	}
	.ds-sort a {
        color:@gray-light;
	    padding: 5px 10px;
	    margin: 0;
        &:hover {
            color:@gray-lighter;
            border-bottom: 3px solid @brand-primary;
        }
	}
	.ds-sort a.ds-current, .ds-sort a:active {
	    color:#d0d8d9;
	    border-bottom: 3px solid #023E73;
	}
	.ds-post-self {
	    border-top:none;
	}
	.ds-comments {
	    margin: 0 0 1em 0;
	    background-color: #252525;
	}
	.ds-post-button {
	    text-shadow:none;
	    height: 30px;
	    border: none;
	    background-color: #bbb;
	    background-image: none;
	}
	.ds-post-button:hover{
	    background-color: #ccc;
	}
	.ds-post-button:active{
	    background-color: #ddd;
	}
	.ds-textarea-wrapper textarea:focus{
	    color:@gray-light;
	}
	a.ds-unread-comments-count {
	    margin: 6px;
	    box-shadow: none;
	}
	a.ds-like-thread-button {
	    border: none;
	    box-shadow: none;
	    background-color: #e0e0e0;
	    background-repeat: no-repeat;
	}
	.ds-comment-body a:hover {
	    color: #d0d8d9;
	}
}
#ds-reset {
	.ds-gradient-bg {
	    background-color: @gray;
	    background-image: none;
	}
	.ds-avatar {
		box-shadow:none;

		img {
		    box-shadow:none;
		}
	}
}
