/* Variables */
@darkest: #222;
@dark: #333;
@medium: #555;
@light: #777;
@lighter: #999;
@lightest: #CCC;
@highlight: #017CB9; //blue
@dark-border: #BBB;
@gray-background: #F8F8F8;
@border-radius: 0;
@border-shadow: 0px;
@border-highlight: 1px solid rgba(255, 255, 255, 0.7);
@spritesheet: url(../images/sprites.png);
