/* Variables */
@images-url: "http://static.duoshuo.com/images/";	// "../images/";
@darkest: #222;
@dark: #333;
@medium: #555;
@light: #777;
@lighter: #999;
@lightest: #CCC;
@highlight: #dd3322; //#cc4d22;//#538dc2;
@dark-border: #BBB;
@gray-background: #F8F8F8;
@border-radius: 3px;
@border-shadow: 1px solid rgba(0, 0, 0, .13);
@border-highlight: 1px solid rgba(255, 255, 255, 0.7);
