/* Variables */
@images-url: "http://static.duoshuo.com/images/";	// "../images/";

@darkest: #222;
@dark: #333;
@medium: #555;
@light: #777;
@lighter: #999;
@lightest: #CCC;
@highlight: #dd3322; //#cc4d22;//#538dc2;
@brand-primary:         #dd3322;

@text-color:			@dark;
@link-color:            @light;
@link-hover-color:      @dark; //darken(@link-color, 15%);

@font-size-base: 13px;
@font-size-large: 14px;
@font-size-small: 12px;
@font-size-smaller: 11px;

@dark-border: #BBB;
@gray-background: #F8F8F8;
@border-radius: 3px;
@border-shadow: 1px solid rgba(0, 0, 0, .13);
@border-highlight: 1px solid rgba(255, 255, 255, 0.7);
@avatar-size: 50px;
@avatar-small-size: 30px;
